<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>index | rir</title>
    <script src="/livereload.js"></script>
  </head>
  <body>
    {{ range $i,$infos := .Screenshots }}
        <div>{{$i}}: {{ range $j,$info := $infos }}<a href="/view/{{$i}}/{{$info.B64}}">{{ $info.Name }}</a>{{end}}</div>
    {{end}}
  </body>
</html>